.UserList {
  padding-top: 19px;
  padding-left: 34px;
  padding-right: 34px;
}
.UserList__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 15px;
}
.title {
}
.UserList__row {
  width: 100%;
  margin-bottom: 10px;
}
.UserList__item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.UserList__pagination {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: right;
  color: #000000;
  margin-right: 30px;
}
